@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

@section Head {
    <script src="~/js/Security/AclViewModel.js"></script>
    <script src="~/js/Security/AclRequestTypeViewModel.js"></script>
    <script src="~/js/DataMarts/Details.js"></script>
    <style>
        .tab-body {
            min-height: 500px;
        }
        #select-model-container ul.dropdown-menu {
            left:auto;
            top:auto;
            bottom:110%;
            right:0px;
        }
        .tab-body input {
            box-sizing:border-box !important;
        } 
    </style>

}

<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/datamarts">DataMarts</a></li>
            <li class="active" data-bind="text: DataMart.Name"></li>
        </ol>
    </div>

    <div class="panel-body">
        <form class="form" role="form">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="txtName">DataMart Name<em>*</em></label>
                    <input type="text" name="Name" id="txtName" class="form-control" required maxlength="255" title="Please enter a name" data-bind="value: DataMart.Name" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="txtAcronym">Acronym<em>*</em></label>
                    <input type="text" name="Acronym" class="form-control" id="txtAcronym" maxlength="30" required title="The Acronym cannot be longer than 30 characters" data-bind="value: DataMart.Acronym" />
                </div>
                <div class="col-sm-3 form-group">
                    <label for="cboOrg">Organization<em>*</em></label>
                    <input type="text" id="cboOrg" name="Organization" required title="Please select an organization" data-bind="kendoDropDownList: {dataTextField: 'Name', dataValueField: 'ID', text: DataMart.Organization, value: DataMart.OrganizationID, data: Organizations, optionLabel:'<Not Selected>'}" style="width: 100%;" />
                </div>
                <!-- This section deliberately removed on HPHCI's request. Do not restore. In the controller, it's set to client based all the time. -->
                @*<div class="col-sm-3 form-group">
                    <label for="cboType">Type<em>*</em></label>
                    <input type="text" id="cboType" required title="Please select an Type" data-bind="kendoDropDownList: {dataTextField: 'Name', dataValueField: 'ID', value: DataMart.DataMartTypeID, data: DataMartTypes, optionLabel:'<Not Selected>'}" style="width: 100%;" />
                </div>*@
            </div>
            
        </form>
        <div class="DataMartOtherMetadata">
            <fieldset>
                <div class="col-sm-4 form-group">
                    <div class="row" data-bind="visible: (HasPermission(Permissions.DataMart.InstallModels) || HasPermission(Permissions.DataMart.UninstallModels))">
                        <label for="cboAdapter" style="width:90%">Adapter Supported</label>
                        <input type="text" id="cboAdapter" data-bind="kendoDropDownList: {value: DataMart.AdapterID, data: QueryComposerAdapters, dataTextField:'Name', dataValueField:'ID', change: onAdapterChange }" style="width:90%;" />
                    </div>
                    <div class="row" data-bind="visible: !(HasPermission(Permissions.DataMart.InstallModels) || HasPermission(Permissions.DataMart.UninstallModels))">
                        <label style="width:90%">Adapter Supported</label>
                        <span data-bind="text: AdapterSupported_Display"></span>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="row">
                        <!-- ko if: FilteredDataModelProcessors().length > 2 -->
                        <label for="cboProcessor" style="width:90%">Adapter Processor</label>
                        <input type="text" id="cboProcessor" data-bind="kendoDropDownList: {value: DataMart.ProcessorID, data: FilteredDataModelProcessors, dataTextField:'Processor', dataValueField:'ProcessorID', optionLabel:'<Not Selected>' }" style="width:90%;" />
                        <!-- /ko -->
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend></legend>
                <div class="col-sm-6 form-group">
                    <div class="row">
                        <label>Unattended Operations</label>
                        <div class="col-sm-12 checkbox" style="margin-top: 10px;">
                            <div><label><input id="unattendedMode" type="checkbox" data-bind="checked: UnattendedMode.UnattendedMode" /> Allow unattended operation</label></div>
                        </div>
                        <article>
                            <div class="row" style="margin-left: 25px;">
                                <div class="col-sm-12 checkbox" style="margin-top: 10px;">
                                    <div>
                                        <div><label><input id="cbNotifyOnly" type="radio" data-bind="checkedValue:true, checked: UnattendedMode.NotifyOnly, enable: UnattendedMode.UnattendedMode" /> Notify me of new requests, but do not process them automatically</label></div>
                                    </div>
                                    <div>
                                        <div><label><input id="cbProcessNoUpload" type="radio" data-bind="checkedValue:true, checked: UnattendedMode.ProcessNoUpload, enable: UnattendedMode.UnattendedMode" /> Process new request automatically but do not upload results</label></div>
                                    </div>
                                    <div>
                                        <div><label><input id="cbProcessAndUpload" type="radio" data-bind="checkedValue:true, checked: UnattendedMode.ProcessAndUpload, enable: UnattendedMode.UnattendedMode" /> Process new request automatically and upload results</label></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>  
                    <div class="row">
                        <div class="col-sm-12 checkbox" style="margin-top: 10px;">
                            <div><label><input id="chkIsLocal" type="checkbox" data-bind="checked: DataMart.IsLocal, enable: (HasPermission(Permissions.DataMart.InstallModels) || HasPermission(Permissions.DataMart.UninstallModels)) && HasMetadataModelInstalled" /> Local DataMart</label></div>
                        </div>
                    </div>                  
                </div>
            </fieldset>
        </div>
        <div id="tabs" data-bind="kendoTabStrip: {}" style="min-height: 500px;">
            <ul>
                <li class="k-state-active">Data Source Metadata</li>
                <li data-bind="visible: HasPermission(Permissions.DataMart.ManageCNDSVisibility)">Visiblity</li>
                <li data-bind="visible: HasPermission(Permissions.DataMart.ManageSecurity)">DataMart Permissions</li>
                <li data-bind="visible: HasPermission(Permissions.DataMart.ManageSecurity)">Request Type Permissions</li>
                <li>Installed Models</li>
                <li data-bind="visible: HasPermission(Permissions.DataMart.ManageProjects)">Projects</li>
            </ul>
            <div class="tab-body" style="height:1600px;">
                <article>
                    <!-- ko stopBinding: true -->
                    <div id="dmMetadata">
                        @Html.Partial("~/areas/controls/views/MetadataViewer/index.cshtml")
                    </div>
                    <!-- /ko-->                      
                </article>
            </div>
            <div class="tab-body">
                <!-- ko stopBinding: true -->
                <div id="dmVisibility">
                    @Html.Partial("~/areas/CNDS/views/ManageVisibility/index.cshtml")
                </div>
                <!-- /ko-->
            </div>
            <div class="tab-body">
                <br />
                <!--Permissions-->
                <p class="alert alert-info">
                    These permissions control access to this user. It is VERY important that you give permission to at least one group to access this user.
                </p>
                <div data-bind="with: DataMartSecurity">
                    @Html.Partial("~/Views/Security/EditAcl.cshtml")
                </div>
            </div>
            <div class="tab-body">
                <br />
                <p class="alert alert-info">
                    These permissions allow you to control, on a per request type basis the permissions for the datamart.
                </p>
                <div data-bind="with: DataMartRequestTypesSecurity">
                    @Html.Partial("~/Views/Security/EditRequestTypesAcl.cshtml")
                </div>
            </div>
            <div class="tab-body">
                <!--Installed Models-->
                <br />
                <p class="alert alert-info">
                    This DataMart supports the following request models. For more information on request models, see <a href='https://popmednet.atlassian.net/wiki/display/DOC/Request+Models' target='_blank'>https://popmednet.atlassian.net/wiki/display/DOC/Request+Models</a>
                </p>
                <table class="table table-striped table-bordered" style="width: 100%;">
                    <colgroup>
                        <col style="width: 80px;" />
                        <col style="width: 60%; vertical-align: middle;" />
                        <col style="width: 280px; vertical-align: middle;" />
                        <col style="width: 280px; vertical-align: middle;" />
                        <col style="width: 80px;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>S</th>
                            <th class="bold">Model</th>
                            <th class="bold">Last Metadata Request</th>
                            <th class="bold">Last Metadata Response</th>
                            <th class="bold center">X</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: InstalledDataModels.InstalledDataModels">
                        <tr>
                            @*<td><img data-bind="attr: {src: ShowConfig() ? '@this.ResourceUrl("/images/collapse16.png")' : '@this.ResourceUrl("/images/expand16.png")'}, click: ToggleConfig" style="cursor: pointer;" /></td>*@
                            <td></td>
                            <td style="white-space: nowrap;" data-bind="text: Model"></td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-danger btn-xs" data-bind="visible: $root.HasPermission(Permissions.DataMart.UninstallModels), click: $root.UninstallModel">Uninstall</button></td>
                        </tr>
                        <tr data-bind="visible: ShowConfig">
                            <td style="border-right: 0;">&nbsp;</td>
                            <td colspan="4" style="border-left: 0;">
                                Show Configuration properties here
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="pull-right" style="margin-right: 4px;" data-bind="visible:$root.HasPermission(Permissions.DataMart.InstallModels)">
                                    <div class="dropdown" id="select-model-container">
                                        <a href="#" id="btnInstallModel" role="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><img src="@this.ResourceUrl("/images/Add16.png")" alt="Install Model" />&nbsp;Install Model <strong class="caret"></strong></a>
                                        <ul class="dropdown-menu" data-bind="foreach: InstalledDataModels.UninstalledDataModels">
                                            <li>
                                                <a href="#" data-bind="click: $root.InstallModel, attr: {id: ID}">
                                                    <span data-bind="text: Name"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-body">
                <br />
                <p class="alert alert-info">
                    The DataMart is subscribed with the following Projects. You may remove your DataMart from a given project by clicking remove.
                </p>
                <table class="table table-striped table-bordered" style="width: 100%;">
                    <colgroup>
                        <col style="width: 80px;" />
                        <col style="width: 60%; vertical-align: middle;" />
                        <col style="width: 80px; text-align: center;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>&nbsp;</th>
                            <th>X</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Projects">
                        <tr>
                            <td><a href="#" data-bind="attr: {href: '/projects/details?ID=' + ProjectID()}, text: Project"></a></td>
                            <td>&nbsp;</td>
                            <td><button type="button" data-bind="click: $root.RemoveProject, attr: {id: 'btnProjectRemove' + ProjectID()}" class="btn btn-danger">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav class="panel-footer right">
        <button class="btn btn-default btn-sm pull-left" id="btnCopy" data-bind="click: Copy, visible: HasPermission(Permissions.DataMart.Copy)"><img src="@this.ResourceUrl("/images/Copy24.png")" alt="Copy" />Copy</button>
        <button class="btn btn-danger btn-sm pull-right" id="btnDelete" data-bind="click: Delete, visible: HasPermission(Permissions.DataMart.Delete)" style="margin-left: 30px;"><img src="@this.ResourceUrl("/images/Delete24.png")" alt="Delete" />Delete</button>
        <button class="btn btn-warning btn-sm pull-right" id="btnCancel" data-bind="click: Cancel, visible: HasPermission(Permissions.DataMart.Edit)" style="margin-left: 10px;"><img src="@this.ResourceUrl("/images/Cancel24.png")" alt="Cancel" />Cancel</button>
        <button class="btn btn-success btn-sm pull-right" id="btnSave" data-bind="click: Save, visible: HasPermission(Permissions.DataMart.Edit)"><img src="@this.ResourceUrl("/images/Save24.png")" alt="Save" />Save</button>
        <br class="clear" />
    </nav>
</article>

